public/templates/cms/about-tab-one.html

<h3>Text in the first tab of the about section</h3>
<form name="tabOneForm">
  <div class="form-group">
    <textarea class="form-control" rows="6" ng-model="tabOneText.text"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary float-right" type="button" ng-click="save(tabOneForm.$valid &amp;&amp; tabOneForm.$dirty)" ng-show="visibility">Save</button>
    <button class="btn btn-primary float-right" type="button" ng-click="update(tabOneForm.$valid &amp;&amp; tabOneForm.$dirty, tabOneText._id)" ng-hide="visibility">Update</button>
    <div class="clearfix"></div>
  </div>
</form>

templates/cms/about-tab-one.pug
h3 Text in the first tab of the about section
form(name='tabOneForm')
  .form-group
    textarea(class='form-control' rows='6' ng-model='tabOneText.text')
  .form-group
    button(type='button'
          class='btn btn-primary float-right'
          ng-click='save(tabOneForm.$valid && tabOneForm.$dirty)'
          ng-show='visibility') Save
    button(type='button'
          class='btn btn-primary float-right'
          ng-click='update(tabOneForm.$valid && tabOneForm.$dirty, tabOneText._id)'
          ng-hide='visibility') Update
    .clearfix
