templates/cms/about-tab-two.pug

h3 Add a new event
p nie mam walidacji tego ani edit ani delete
form(name='addEvent' class='')
  .form-group
      .row
        //.col-xs-12.col-sm-12.col-md-12.col-lg-12
        label(for='eventDay' class='col-4 col-sm-4') Day:
        label(for='eventMonth' class='col-4 col-sm-4') Month:
        label(for='eventYear' class='col-4 col-sm-4') Year:
      .row
        //.col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-4.col-sm-4.col-md-4.col-lg-4
          select(class='form-control' ng-model='event.date' ng-options='date for date in daysArray')
        .col-4.col-sm-4.col-md-4.col-lg-4
          select(class='form-control' ng-model='event.month' ng-options='month for month in monthsArray')
        .col-4.col-sm-4.col-md-4.col-lg-4
          input(type='number' min='1900' max='2100' class='form-control' ng-model='event.year')
  .form-group
    textarea(class='form-control' rows=3 ng-model='event.body')
  button(type='button' class='btn btn-primary' ng-click='send(true)') Save
div(ng-repeat='event in events')
  .row
    .col-12
      p(ng-bind="event.date | date:'dd/MM/yyyy'")
      p(ng-bind='event.body')
  .row
    .col-12
      button(type='button' class='btn btn-danger float-right' ng-click='delete(event._id)') Delete
      button(type='button' class='btn btn-warning float-right mr-1' ng-click='edit(event)') Edit
      

public/templates/cms/about-tab-two.html

<h3>Add a new event</h3>
<p>nie mam walidacji tego ani edit ani delete</p>
<form name="addEvent">
  <div class="form-group">
    <div class="row">
      <!--.col-xs-12.col-sm-12.col-md-12.col-lg-12-->
      <label class="col-4 col-sm-4" for="eventDay">Day:</label>
      <label class="col-4 col-sm-4" for="eventMonth">Month:</label>
      <label class="col-4 col-sm-4" for="eventYear">Year:</label>
    </div>
    <div class="row">
      <!--.col-xs-12.col-sm-12.col-md-12.col-lg-12-->
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <select class="form-control" ng-model="event.date" ng-options="date for date in daysArray"></select>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <select class="form-control" ng-model="event.month" ng-options="month for month in monthsArray"></select>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <input class="form-control" type="number" min="1900" max="2100" ng-model="event.year"/>
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="3" ng-model="event.body"></textarea>
  </div>
  <button class="btn btn-primary" type="button" ng-click="send(true)">Save</button>
</form>
<div ng-repeat="event in events">
  <div class="row">
    <div class="col-12">
      <p ng-bind="event.date | date:'dd/MM/yyyy'"></p>
      <p ng-bind="event.body"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-danger float-right" type="button" ng-click="delete(event._id)">Delete</button>
      <button class="btn btn-warning float-right mr-1" type="button" ng-click="edit(event)">Edit</button>
    </div>
  </div>
</div>
