templates/cms/about-tab-three.pug
h3 Text in the third tab of the about section
form(name='tabOneText')
  .form-group
    textarea(class='form-control' rows='6')
  .form-group
    button(type='button' class='btn btn-primary float-right' ng-click='save(tabOnetText.$valid && mainAboutText.$dirty)') Save
    .clearfix
h3 Add files to be downloaded by users
div(nv-file-drop='' uploader='uploader')
  div(ng-show="uploader.isHTML5")
    div(class="jumbotron my-drop-zone" nv-file-over='' uploader="uploader")
      Base drop zone
  label.custom-file
    input(type='file' nv-file-select uploader='uploader' class='custom-file-input')
    span.custom-file-control Browse
  ul.list-group.my-4
    li(ng-repeat='item in uploader.queue' class='list-group-item')
      span(ng-bind='item.file.name')
      //-span(ng-bind='item.file.size/1024/1024|number:2')
      //-span(ng-bind='item.progress')
      div(class="item-progress-box" class='progress my-3')
        div(class="item-progress" class='progress-bar progress-bar-striped bg-info'
        role="progressbar"
        aria-valuemin="0" aria-valuemax="100"
        ng-style="{ 'width': item.progress + '%' }")
      button(ng-click="item.upload()" class='btn btn-info' ng-disabled="item.isReady || item.isUploading || item.isSuccess") Upload
      button(ng-click="item.cancel()" class='btn btn-warning' ng-disabled="!item.isUploading") Cancel
      button(ng-click="item.remove()" class='btn btn-danger') Remove
  div
      div
          span Total progress: 
          span(ng-bind='uploader.progress')
          div(class="total-progress-box progress my-3")
              div(class="total-progress progress-bar progress-bar-striped progress-bar-animated bg-success"
              ng-style="{ 'width': uploader.progress + '%' }"
              role="progressbar" aria-valuemin="0" aria-valuemax="100")
      button(ng-click="uploader.uploadAll()" class='btn btn-info' ng-disabled="!uploader.getNotUploadedItems().length") Upload all
      button(ng-click="uploader.cancelAll()" class='btn btn-warning' ng-disabled="!uploader.isUploading") Cancel all
      button(ng-click="uploader.clearQueue()" class='btn btn-danger' ng-disabled="!uploader.queue.length") Remove all

public/templates/cms/about-tab-three.html

<h3>Text in the third tab of the about section</h3>
<form name="tabOneText">
  <div class="form-group">
    <textarea class="form-control" rows="6"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary float-right" type="button" ng-click="save(tabOnetText.$valid &amp;&amp; mainAboutText.$dirty)">Save</button>
    <div class="clearfix"></div>
  </div>
</form>
<h3>Add files to be downloaded by users</h3>
<div nv-file-drop="" uploader="uploader">
  <div ng-show="uploader.isHTML5">
    <div class="jumbotron my-drop-zone" nv-file-over="" uploader="uploader">
      <Base>drop zone</Base>
    </div>
  </div>
  <label class="custom-file">
    <input class="custom-file-input" type="file" nv-file-select="nv-file-select" uploader="uploader"/><span class="custom-file-control">Browse</span>
  </label>
  <ul class="list-group my-4">
    <li class="list-group-item" ng-repeat="item in uploader.queue"><span ng-bind="item.file.name"></span>
      <div class="item-progress-box progress my-3">
        <div class="item-progress progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }"></div>
      </div>
      <button class="btn btn-info" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
      <button class="btn btn-warning" ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
      <button class="btn btn-danger" ng-click="item.remove()">Remove</button>
    </li>
  </ul>
  <div>
    <div><span>Total progress: </span><span ng-bind="uploader.progress"></span>
      <div class="total-progress-box progress my-3">
        <div class="total-progress progress-bar progress-bar-striped progress-bar-animated bg-success" ng-style="{ 'width': uploader.progress + '%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <button class="btn btn-info" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Upload all</button>
    <button class="btn btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">Cancel all</button>
    <button class="btn btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">Remove all</button>
  </div>
</div>
