templates/cms/about-main.pug
h3 Main text of the about section
form(name='mainAboutText')
  .form-group
    textarea(class='form-control' rows='6' ng-model='mainText.text')
  .form-group
    button(type='button' class='btn btn-primary float-right' ng-click='save(true)' ng-show='visibility') Save
    button(type='button' class='btn btn-primatry float-right' ng-click='update(true, mainText._id)' ng-hide='visibility') Update
    .clearfix

public/templates/cms/about-main.html

<h3>Main text of the about section</h3>
<form name="mainAboutText">
  <div class="form-group">
    <textarea class="form-control" rows="6" ng-model="mainText.text"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary float-right" type="button" ng-click="save(true)" ng-show="visibility">Save</button>
    <button class="btn btn-primatry float-right" type="button" ng-click="update(true, mainText._id)" ng-hide="visibility">Update</button>
    <div class="clearfix"></div>
  </div>
</form>
