templates/cms/catalog.pug
h3 Add an item to the catalog
h4(style='color: red') kategorie
form(name='addItem')
  .form-group
    label(for='itemName') Name:
    input(type='text' id='itemName' ng-model='item.name' class='form-control')
  .form-group
    label(for='itemSecondaryText') Secondary Text:
    input(type='text' id='itemSecondaryText' ng-model='item.secondaryText' class='form-control')
  .form-group
    label(for='itemWeight') Weight:
    input(type='number' id='itemWeight' min='0' ng-model='item.weight' class='form-control')
  p Symbol:
  .form-check
    label(class="form-check-label")
      input(type="radio" ng-model='item.symbol' value='symbol1' class="form-check-input" name='symbol')
      Option 1
  .form-check
    label(class="form-check-label")
      input(type="radio" ng-model='item.symbol' value='symbol2' class="form-check-input" name='symbol')
      Option 2
  .form-check
    label(class="form-check-label")
      input(type="radio" ng-model='item.symbol' value='symbol3' class="form-check-input" name='symbol')
      Option 3
  .form-group
    label(for='itemDescription') Description:
    textarea(class='form-control' ng-model='item.description' rows='3' id='itemDescription')
  .form-group
    button(type='button' class='btn btn-primary float-right' ng-click='submit(addItem.$valid && addItem.$dirty)') Save
    .clearfix

.row
  .col-12
    .list-group
      a(ui-sref='loggedIn.product({id: item._id})' ng-repeat='item in products' class='list-group-item list-group-item-action flex-column align-items-start')
        .d-flex.w-100.justify-content-between
          .w-25.mr-2
            img(src='../img/product/shoe2.jpg' class='img-fluid')
          .w-75.ml-2
            h5(ng-bind='item.name')
            p(ng-bind='item.text')
            small(class='text-muted' ng-bind='(item.description | limitTo: 220) + "..."')
          

public/templates/cms/catalog.html

<h3>Add an item to the catalog</h3>
<h4 style="color: red;">kategorie</h4>
<form name="addItem">
  <div class="form-group">
    <label for="itemName">Name:</label>
    <input class="form-control" type="text" id="itemName" ng-model="item.name"/>
  </div>
  <div class="form-group">
    <label for="itemSecondaryText">Secondary Text:</label>
    <input class="form-control" type="text" id="itemSecondaryText" ng-model="item.secondaryText"/>
  </div>
  <div class="form-group">
    <label for="itemWeight">Weight:</label>
    <input class="form-control" type="number" id="itemWeight" min="0" ng-model="item.weight"/>
  </div>
  <p>Symbol:</p>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" ng-model="item.symbol" value="symbol1" name="symbol"/>
      <Option>1</Option>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" ng-model="item.symbol" value="symbol2" name="symbol"/>
      <Option>2</Option>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" ng-model="item.symbol" value="symbol3" name="symbol"/>
      <Option>3</Option>
    </label>
  </div>
  <div class="form-group">
    <label for="itemDescription">Description:</label>
    <textarea class="form-control" ng-model="item.description" rows="3" id="itemDescription"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary float-right" type="button" ng-click="submit(addItem.$valid &amp;&amp; addItem.$dirty)">Save</button>
    <div class="clearfix"></div>
  </div>
</form>
<div class="row">
  <div class="col-12">
    <div class="list-group"><a class="list-group-item list-group-item-action flex-column align-items-start" ui-sref="loggedIn.product({id: item._id})" ng-repeat="item in products">
        <div class="d-flex w-100 justify-content-between">
          <div class="w-25 mr-2"><img class="img-fluid" src="../img/product/shoe2.jpg"/></div>
          <div class="w-75 ml-2">
            <h5 ng-bind="item.name"></h5>
            <p ng-bind="item.text"></p><small class="text-muted" ng-bind="(item.description | limitTo: 220) + &quot;...&quot;"></small>
          </div>
        </div></a></div>
  </div>
</div>
