templates/cms/product.pug
div(ng-hide='editionMode')
  .row
    .col-12.col-sm-6
      img(src='../img/product/shoe3.jpg' class='img-fluid')
    .col-12.col-sm-6
      h3(ng-bind='product.name')
      p(ng-bind='product.text')
      p(ng-bind='"weight: " + (product.weight)')
      p(ng-bind='"symbol: " + (product.symbol)')
      p(ng-bind='product.description')
  .row
    .col-12.col-sm-12
      button(class='btn btn-warning float-right' ng-click='edit()') edit
      button(class='btn btn-danger float-right mr-2' ng-click='delete()') delete
div(ng-show='editionMode')
  .row
    .col-12.col-sm-6
      img(src='../img/product/shoe3.jpg' class='img-fluid')
    .col-12.col-sm-6
      form(name='productEdition')
        .form-group
          input(type='text' ng-model='product.name' class='form-control')
        .form-group
          input(type='text' ng-model='product.text' class='form-control')
        .form-group
          input(type='number' ng-model='product.weight' min='0' max='1000'  class='form-control')
        .form-check
          label.form-check-label
            input(type='radio' ng-model='product.symbol' value='symbol1' name='symbol')
            symbol 1
        .form-check
          label.form-check-label
            input(type='radio' ng-model='product.symbol' value='symbol2' name='symbol')
            symbol 2
        .form-check
          label.form-check-label
            input(type='radio' ng-model='product.symbol' value='symbol3' name='symbol')
            symbol 3
        .form-group
          textarea(type='text' ng-model='product.description' rows='5'  class='form-control')
  .row
    .col-12.col-sm-12
      button(class='btn btn-primary float-right' ng-click='save(productEdition.$valid && productEdition.$dirty)') save
      button(class='btn btn-warning float-right mr-2' ng-click='cancel()') cancel

public/templates/cms/product.html

<div ng-hide="editionMode">
  <div class="row">
    <div class="col-12 col-sm-6"><img class="img-fluid" src="../img/product/shoe3.jpg"/></div>
    <div class="col-12 col-sm-6">
      <h3 ng-bind="product.name"></h3>
      <p ng-bind="product.text"></p>
      <p ng-bind="&quot;weight: &quot; + (product.weight)"></p>
      <p ng-bind="&quot;symbol: &quot; + (product.symbol)"></p>
      <p ng-bind="product.description"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <button class="btn btn-warning float-right" ng-click="edit()">edit</button>
      <button class="btn btn-danger float-right mr-2" ng-click="delete()">delete</button>
    </div>
  </div>
</div>
<div ng-show="editionMode">
  <div class="row">
    <div class="col-12 col-sm-6"><img class="img-fluid" src="../img/product/shoe3.jpg"/></div>
    <div class="col-12 col-sm-6">
      <form name="productEdition">
        <div class="form-group">
          <input class="form-control" type="text" ng-model="product.name"/>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" ng-model="product.text"/>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" ng-model="product.weight" min="0" max="1000"/>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" ng-model="product.symbol" value="symbol1" name="symbol"/>
            <symbol>1</symbol>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" ng-model="product.symbol" value="symbol2" name="symbol"/>
            <symbol>2</symbol>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" ng-model="product.symbol" value="symbol3" name="symbol"/>
            <symbol>3</symbol>
          </label>
        </div>
        <div class="form-group">
          <textarea class="form-control" type="text" ng-model="product.description" rows="5"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <button class="btn btn-primary float-right" ng-click="save(productEdition.$valid &amp;&amp; productEdition.$dirty)">save</button>
      <button class="btn btn-warning float-right mr-2" ng-click="cancel()">cancel</button>
    </div>
  </div>
</div>
