public/templates/cms/sightseeing1.html

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-{{class}}" role="alert" ng-show="responseMessage">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p ng-bind="responseMessage"></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">     
    <form name="sightseeingArticle" ng-submit="send(sightseeingArticle.$valid)">
      <div class="form-group">
        <input class="form-control" type="text" id="title" ng-model="sightseeingArticle.title" placeholder="The articles title" required="required"/>
      </div>
      <div class="form-group">
        <textarea class="box form-control" type="text" id="body" ng-model="sightseeingArticle.body" placeholder="The articles body" rows="4" required="required"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-default float-right" type="submit">Save</button>
        <div class="clearfix"></div>
      </div>
    </form>
    <ul class="articles">
      <li ng-repeat="article in articles" ng-hide="article.hide">
        <div class="message">
          <div class="alert alert-success fade in" role="alert" ng-show="article.message">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close" ng-click="hide(article)"><span aria-hidden="true">&times;</span></button>
            <p>{{article.message}}</p>
          </div>
        </div>
        <div class="content" ng-hide="article.message">
          <h3>{{article.title}}</h3>
          <p>{{ article.body}}</p>
          <div class="actions">
            <button class="btn btn-danger float-right" type="button" data-toggle="modal" data-target="#myModal" ng-click="launchModal(article)">Delete</button><a class="btn btn-warning float-right" ui-sref="loggedIn.sightseeingArticle({id: article._id, article: article})">Edit</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Are you sure you would like to delete the following article?</h4>
        </div>
        <div class="modal-body">
          <h2>{{title}}</h2>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" type="button" ng-click="delete(articleToDelete)" data-dismiss="modal">Confirm deletion</button>
        </div>
      </div>
    </div>
  </div>
</div>

templates/cms/sightseeing1.pug
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    div(class='alert alert-{{class}}' role='alert' ng-show='responseMessage')
      button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      p(ng-bind='responseMessage')
  .col-xs-12.col-sm-12.col-md-12.col-lg-12      
    form(name='sightseeingArticle' ng-submit='send(sightseeingArticle.$valid)')
      .form-group
        //-label(for='email') email:
        input(type='text' class='form-control' id='title' ng-model='sightseeingArticle.title' placeholder='The articles title' required)
        //- span(class='prompt' ng-hide='signInForm.email.$invalid') {{emailMessage}}
      .form-group
        //-label(for='password') password:
        textarea(type='text' class='box form-control' id='body' ng-model='sightseeingArticle.body' placeholder='The articles body' rows='4' required)
        //- span(class='prompt') {{passMessage}}
      .form-group
        button(class='btn btn-default float-right' type='submit') Save
        .clearfix
    ul.articles
      li(ng-repeat='article in articles' ng-hide='article.hide')
        .message
          div(class="alert alert-success fade in" role="alert" ng-show='article.message')
            button(type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click='hide(article)')
              span(aria-hidden="true") &times;
            p {{article.message}}
        div(class='content' ng-hide='article.message')
          h3 {{article.title}}
          p {{ article.body}}
          .actions
            button(class='btn btn-danger float-right'
            type="button" data-toggle="modal" data-target="#myModal"
            ng-click='launchModal(article)') Delete
            a(class='btn btn-warning float-right' ui-sref='loggedIn.sightseeingArticle({id: article._id, article: article})') Edit
            .clearfix
  

  div(class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4(class="modal-title" id="myModalLabel") Are you sure you would like to delete the following article?
        div(class="modal-body")
          h2 {{title}}
        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
          button(type="button" class="btn btn-danger" ng-click='delete(articleToDelete)' data-dismiss="modal") Confirm deletion
