templates/cms/sightseeing_article.pug
div(class='alert alert-{{class}}' role='alert' ng-show='showMessage')
  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;
  p(ng-bind='responseMessage' style='display: inline')
  a(ui-sref='loggedIn.sightseeing' ng-show='showMessage' class='alert-link') powróć do listy wszystkich artykułów
form(name='updateSightseeingArticle')
  div(class="form-group")
    //-label for="exampleInputEmail1"Email address/label
    input(type="text" class="form-control" ng-model='title' placeholder='Edit the title' required)
  div(class="form-group")
    //-label for="exampleInputPassword1"Password/label
    textarea(type="text" class="form-control" ng-model='body' rows='10' placeholder='Edit the body' required)
  button(type="submit" class="btn btn-success float-right"  ng-click='save(updateSightseeingArticle.$valid && updateSightseeingArticle.$dirty)') Submit
  .clearfix

public/templates/cms/sightseeing_article.html

<div class="alert alert-{{class}}" role="alert" ng-show="showMessage">
  <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p ng-bind="responseMessage" style="display: inline;"></p><a class="alert-link" ui-sref="loggedIn.sightseeing" ng-show="showMessage">powróć do listy wszystkich artykułów</a>
</div>
<form name="updateSightseeingArticle">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="title" placeholder="Edit the title" required="required"/>
  </div>
  <div class="form-group">
    <textarea class="form-control" type="text" ng-model="body" rows="10" placeholder="Edit the body" required="required"></textarea>
  </div>
  <button class="btn btn-success float-right" type="submit" ng-click="save(updateSightseeingArticle.$valid &amp;&amp; updateSightseeingArticle.$dirty)">Submit</button>
  <div class="clearfix"></div>
</form>
