public/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
    <base href="/"/>
    <title>Huta Szkła Kryształowego "Zawiercie"</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- script(src='js/lib/popper/popper.js')-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="js/lib/bootstrap-4/bootstrap.min.js"></script>
    <script src="js/lib/slick/slick.min.js"></script>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/lib/angular-file-upload/angular-file-upload.js"></script>
    <script src="js/lib/angular-resource/angular-resource.js"></script>
    <script src="js/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="js/controllers/controllers-module.js"></script>
    <script src="js/services/services-module.js"></script>
    <script src="js/directives/directives-module.js"></script>
    <script src="js/built.js"></script>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-4/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="application/json" href="css/style.css.map"/>
    <link rel="stylesheet" type="text/css" href="js/lib/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="js/lib/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"/>
    <link href="https://fonts.googleapis.com/css?family=Alice|Amiri|Lusitana|Sorts+Mill+Goudy" rel="stylesheet"/>
  </head>
  
  <body ng-app="app">
    <div class="LinksAndSearch">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <form>
              <button type="submit">szukaj</button>
              <input type="search"/>
            </form>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4"><a class="logo" href=""><img class="img-responsive" src="img/logo2.png"/></a></div>
          <div class="hidden-xs col-sm-4 col-md-4 col-lg-4"><a class="icon social-media-1" href=""></a><a class="icon social-media-2" href=""></a></div>
        </div>
      </div>
    </div>
    <div ui-view="carousel"></div>
    <div class="container navigation" id="navigation">
      <div class="dropdown">
        <button type="button" id="dropdownMenu1"></button>
        <ul class="dropdown-menu">
          <li><a ui-sref="home">home</a><a ui-sref="about.tabone">about</a><a ui-sref="sightseeing">sightseeing</a><a ui-sref="catalog">catalog</a><a ui-sref="contact">contact</a><a ui-sref="admin">CMS</a></li>
        </ul>
      </div>
      
      <div ng-controller="MenuController as menu">
        <ul class="menu"><a ng-repeat="item in dupa" ui-sref="{{item.link}}" ui-sref-active="active">
            <li>{{item.name}}</li></a></ul>
        <div class="BottomLine"></div>
      </div>
    </div>
    <ui-view></ui-view>
    <div ui-view="footer"></div>
    <script>
      var screenWidth = function(minWidth, iterator) {
        var interval = window.matchMedia('(min-width: ' + minWidth + 'px)');
        if(interval.matches) {
          minWidth += iterator;
          
          return screenWidth(minWidth, iterator);
        } else {
          return minWidth - iterator;
        }
      }
      var toggleNav = function() {
        var container = document.querySelector("#navigation");
        if (container.className == "container navigation open") {
          container.className = "container navigation";
        } else {
          container.className += " open";
        }
      }
      document.querySelector("#dropdownMenu1").addEventListener('click', toggleNav);
      document.querySelector(".dropdown-menu").addEventListener('click', toggleNav);
    </script>
  </body>
</html>

templates/index.pug
<!DOCTYPE html>
html
  include head.pug
  |
  |
  body(ng-app='app')
    .LinksAndSearch
      .container-fluid
        .row
          .col-4.col-sm-4.col-md-4.col-lg-4
            form
              button(type='submit') szukaj
              input(type='search')              
          .col-4.col-sm-4.col-md-4.col-lg-4
            a(href='' class='logo')
              img(src='img/logo2.png' class="img-responsive")
          .hidden-xs.col-sm-4.col-md-4.col-lg-4
            a(href='' class='icon social-media-1')
            a(href='' class='icon social-media-2')
              
    div(ui-view='carousel')
    .container.navigation#navigation
      .dropdown
        button(class='' type='button' id='dropdownMenu1')
        ul(class='dropdown-menu')
          li
            a(ui-sref='home') home
            a(ui-sref='about.tabone') about
            a(ui-sref='sightseeing') sightseeing
            a(ui-sref='catalog') catalog
            a(ui-sref='contact') contact
            a(ui-sref='admin') CMS
      |
      |
      div(ng-controller='MenuController as menu')
        ul.menu
          a(ng-repeat='item in dupa' ui-sref='{{item.link}}' ui-sref-active='active')
            li {{item.name}}
        .BottomLine
    ui-view
    div(ui-view='footer')
    //-script(src='../js/lib/color-picker.js')
    script.
      var screenWidth = function(minWidth, iterator) {
        var interval = window.matchMedia('(min-width: ' + minWidth + 'px)');
        if(interval.matches) {
          minWidth += iterator;
          
          return screenWidth(minWidth, iterator);
        } else {
          return minWidth - iterator;
        }
      }
      var toggleNav = function() {
        var container = document.querySelector("#navigation");
        if (container.className == "container navigation open") {
          container.className = "container navigation";
        } else {
          container.className += " open";
        }
      }
      document.querySelector("#dropdownMenu1").addEventListener('click', toggleNav);
      document.querySelector(".dropdown-menu").addEventListener('click', toggleNav);
      
