templates/product.pug
.container
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      h1.subtitle Oferta
    .col-12.col-sm-12.col-md-12.col-lg-12
      nav
        ol.breadcrumb.custom
          li.breadcrumb-item
            a(ui-sref='home') home
          li.breadcrumb-item
            a(ui-sref='contact') contact
          li.breadcrumb-item
            a(ui-sref='catalog') catalog
  .row
    .col-12.col-sm-5.col-md-6.col-lg-6.image-container
      img(class='img-fluid product-image' src='img/nowe/products/p7.jpg')
    .col-12.col-sm-7.col-md-6.col-lg-6
      .table.small
        table
          tr
            td(colspan='2' ng-bind='product.name') dddfsdsdsd
          tr
            th P
            th(colspan='2' ng-bind='product.text') Lorem ipsum dolor
          tr
            td
            td(ng-bind='product.weight')
            td(ng-bind='product.symbol')
          
      .despcription
        p(ng-bind='product.description')
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      .LinkFrameWrapper
        a(class="LinkFrame" ui-sref='catalog') back

public/templates/product.html

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="subtitle">Oferta</h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <nav>
        <ol class="breadcrumb custom">
          <li class="breadcrumb-item"><a ui-sref="home">home</a></li>
          <li class="breadcrumb-item"><a ui-sref="contact">contact</a></li>
          <li class="breadcrumb-item"><a ui-sref="catalog">catalog</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-5 col-md-6 col-lg-6 image-container"><img class="img-fluid product-image" src="img/nowe/products/p7.jpg"/></div>
    <div class="col-12 col-sm-7 col-md-6 col-lg-6">
      <div class="table small">
        <table>
          <tr>
            <td colspan="2" ng-bind="product.name">dddfsdsdsd</td>
          </tr>
          <tr>
            <th>P</th>
            <th colspan="2" ng-bind="product.text">Lorem ipsum dolor</th>
          </tr>
          <tr>
            <td></td>
            <td ng-bind="product.weight"></td>
            <td ng-bind="product.symbol"></td>
          </tr>
        </table>
      </div>
      <div class="despcription">
        <p ng-bind="product.description"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="LinkFrameWrapper"><a class="LinkFrame" ui-sref="catalog">back</a></div>
    </div>
  </div>
</div>
